*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
    
}

html,body{
    height: 100%;
    width: 100%;
    perspective:none ;
}

#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0px 150px;
    gap: 45px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 85px;
    width: 85px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 300;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.29);

}
#page1{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    text-align: center;
    z-index: 10;
    
    

}
#page1 h1::before{
    content:"Eat. Drink. Play.";
    position: absolute;
    color: black;
    top: -6px;
    left: -5px;
    -webkit-text-stroke: 2px #5E7A13;
    z-index: -1;
}
#page1 h1{
    font-size: 150px;
    font-weight: 900;
    position: relative;
    /* top: 15px; */
    text-transform: uppercase;
}
#page1 h2{
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 22px;
    font-weight: 500;
    width: 40%;
}
#page1 #arrow{
    height: 250px;
    width: 250px;
    background-color: transparent;
    border: 2px solid #95C11E;
    position: absolute;
    left: -2%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}
#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;

}
#page1 #arrow:hover{
    scale: 0.5;
    background-color: #95C11E;
}
#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: black; */
    z-index: 10;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color:#95C11E ;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
    

}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color:#5e7a134b;
    border-radius: 50%;
    position: fixed;
    filter:blur(40px);
    z-index: 99;
    transition: all linear 0.4s;
    
    

}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    z-index: 10;

}
#scroller::-webkit-scrollbar{
    display: none;
}


#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll ;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
}

#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    color: transparent;
    transition: all linear 0.3s;
    color: #000;
    -webkit-text-stroke: 2px #5E7A13 ;


}
#scroller h4:hover{
    color:#95C11E;
    -webkit-text-stroke: 1px #95C11E;

}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#aboutus{
    height: 40vh;
    width: 100%;
    /* background-color: #cb0505; */
    display: flex;
    padding: 230px 50px;
    align-items:center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}

#aboutus img{
    height: 180px;
    width: 180px;
    border-radius: 20px;
    object-fit: cover;
    
}
#about-us-in{
    
    width: 60%;
    text-align:center;
    
}
#about-us-in h3{
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 20px;


}
#about-us-in p{
    font-size: 20px;
    line-height: 37px;
    text-align:center;
    
    
}
#cards-container{
    
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
    position: relative;
    z-index: 10;

    /* background-color: #ef1111; */
}  
.card{
    height: 80%;
    width: 24%;
    /* background-color: aqua; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;


    
} 
#card1{
    background-image: url(https://static.wixstatic.com/media/6df23c_e3f6be98a1d849d6a75b1ee2f57d7ea9~mv2.jpg/v1/fill/w_631,h_491,al_c,q_80,usm_4.00_1.00_0.00,enc_auto/6df23c_e3f6be98a1d849d6a75b1ee2f57d7ea9~mv2.jpg);


}
#card2{
    background-image: url(https://whatsgoodtodo.com/wp-content/uploads/2021/06/IMG_5668-edited-Pixlr-720cc7bba2f2041ad4acba01a2dc4732.jpg);
    
}

#card3{
    background-image: url(https://c.stocksy.com/a/x1gD00/z9/3259833.jpg);

}
.overlay{
    height: 100%;
    width: 100%;
    background-color:#95C11E;
    padding: 30px;
    padding-top: 130px;
    opacity: 0;
    transition: all ease 0.6s;


}
.overlay h4{
    color: #000;
    font-size:30px ;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}

.overlay p{
    color: #000;
    font-size: 18px;

}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(-1, 1, 0, 20deg);
}

#green-div{
    height: 30vh;
    display: flex;
    align-items: centre;
    justify-content:space-between ;
    background-color: aqua;
    background: linear-gradient(to left bottom,#1BA237,#A9DB22);

    

}
#green-div h4{
    width: 50%;
    line-height: 40px;
    color: #000;
    text-align: center;
    font-size: 27px;
    font-weight:800 ;
    text-transform: uppercase;
    margin-top: 60px;
    padding: 40px;



}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;

}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;position: relative;
}
#page3>p{
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;


}
#page3 img{
    position: absolute;
    height: 60px;

    
}
#page3 #colon-1{
    left: 15%;
    top: 25%;


}
#page3 #colon-2{
    bottom: 30%;
    right: 15%;
}
#page4{
    height: 30vh;
    width: 100%;
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;

}
.elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    


}
.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #000;
    font-weight: 800;
    position: absolute;
    z-index: 10;
    


}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
}
.elem:hover h2{
    color: white;
    background-color: transparent;
}

.elem:hover img{
    scale: 1;

}
#page4 h1{
    font-size: 80px;
    position: absolute;
    top: -50px;
    font-weight: 900;
    font-family: gilroy;
    
    color: #000;
    -webkit-text-stroke:2px white ;


}
#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #1BA237 0%, #95C11E 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
    /* position: relative; */
}
#footer>img{
    position: absolute;
    
    left: 0;
    height: 100%;
    z-index:0;

}
#f1 img{
    height: 100px;
}
#f1, #f2, #f3, #f4{
    width: fit-content;
    position: relative;
    z-index: 2;
    /* background-color: red; */
}
#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;

}
#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;

}
#f4 h4{
    font-size: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom:8px;
}

